In [6]:
import pandas as pd
df1 = pd.read_csv('每日各站進出站人數2022.csv')
df1.columns = ['日期','code','進站','出站']
df2 = df1.set_index(keys=['日期','code'])
df2.columns.name = "進出"
df2

進出               進站    出站
日期       code
20220101 900   8645  8526
         910    996  1243
         920   1369  1711
         930   3663  4535
         940   1532  1845
...             ...   ...
20221231 7360  3984  3893
         7361    92   115
         7362   131   159
         7380   494   426
         7390   313   274

[86552 rows x 2 columns]