In [1]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
pdr.get_data_yahoo('AAPL')

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...   Adj Close     Volume
Date                                ...
1980-12-12    0.128348    0.128906  ...    0.099192  469033600
1980-12-15    0.122210    0.122210  ...    0.094017  175884800
1980-12-16    0.113281    0.113281  ...    0.087117  105728000
1980-12-17    0.115513    0.116071  ...    0.089273   86441600
1980-12-18    0.118862    0.119420  ...    0.091861   73449600
...                ...         ...  ...         ...        ...
2024-06-12  207.369995  220.199997  ...  213.070007  198134300
2024-06-13  214.740005  216.750000  ...  214.240005   97862700
2024-06-14  213.850006  215.169998  ...  212.490005   70122700
2024-06-17  213.369995  218.949997  ...  216.669998   93728300
2024-06-18  217.589996  218.630005  ...  214.289993   79854200

[10970 rows x 6 columns]

In [2]:
[i for i in range(5,10)]

[5, 6, 7, 8, 9]

In [4]:
all_data = {item:pdr.get_data_yahoo(item) for item in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
all_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'AAPL':                   Open        High  ...   Adj Close     Volume
 Date                                ...
 1980-12-12    0.128348    0.128906  ...    0.099192  469033600
 1980-12-15    0.122210    0.122210  ...    0.094017  175884800
 1980-12-16    0.113281    0.113281  ...    0.087117  105728000
 1980-12-17    0.115513    0.116071  ...    0.089273   86441600
 1980-12-18    0.118862    0.119420  ...    0.091861   73449600
 ...                ...         ...  ...         ...        ...
 2024-06-12  207.369995  220.199997  ...  213.070007  198134300
 2024-06-13  214.740005  216.750000  ...  214.240005   97862700
 2024-06-14  213.850006  215.169998  ...  212.490005   70122700
 2024-06-17  213.369995  218.949997  ...  216.669998   93728300
 2024-06-18  217.589996  218.630005  ...  214.289993   79854200

 [10970 rows x 6 columns],
 'IBM':                   Open        High         Low       Close   Adj Close   Volume
 Date
 1962-01-02    7.374124    7.374124    7.291268    7.291268    1.541710   407940
 1962-01-03    7.291268    7.355003    7.291268    7.355003    1.555187   305955
 1962-01-04    7.355003    7.355003    7.278521    7.281708    1.539688   274575
 1962-01-05    7.272148    7.272148    7.125558    7.138305    1.509367   384405
 1962-01-08    7.131931    7.131931    6.947100    7.004461    1.481066   572685
 ...                ...         ...         ...         ...         ...      ...
 2024-06-12  171.350006  172.470001  168.100006  169.000000  169.000000  3522700
 2024-06-13  169.009995  169.589996  168.339996  169.119995  169.119995  3525700
 2024-06-14  168.289993  169.470001  167.229996  169.210007  169.210007  2777700
 2024-06-17  168.759995  169.720001  167.500000  169.500000  169.500000  3239800
 2024-06-18  170.000000  170.750000  168.380005  170.550003  170.550003  3385600

 [15723 rows x 6 columns],
 'MSFT':                   Open        High  ...   Adj Close      Volume
 Date                                ...
 1986-03-13    0.088542    0.101563  ...    0.060163  1031788800
 1986-03-14    0.097222    0.102431  ...    0.062311   308160000
 1986-03-17    0.100694    0.103299  ...    0.063386   133171200
 1986-03-18    0.102431    0.103299  ...    0.061774    67766400
 1986-03-19    0.099826    0.100694  ...    0.060700    47894400
 ...                ...         ...  ...         ...         ...
 2024-06-12  435.320007  443.399994  ...  441.059998    22366200
 2024-06-13  440.850006  443.390015  ...  441.579987    15960600
 2024-06-14  438.279999  443.140015  ...  442.570007    13582000
 2024-06-17  442.589996  450.940002  ...  448.369995    20790000
 2024-06-18  449.709991  450.140015  ...  446.339996    17085700

 [9644 rows x 6 columns],
 'GOOG':                   Open        High  ...   Adj Close     Volume
 Date                                ...
 2004-08-19    2.490664    2.591785  ...    2.496292  897427216
 2004-08-20    2.515820    2.716817  ...    2.694573  458857488
 2004-08-23    2.758411    2.826406  ...    2.721690  366857939
 2004-08-24    2.770615    2.779581  ...    2.608991  306396159
 2004-08-25    2.614201    2.689918  ...    2.637103  184645512
 ...                ...         ...  ...         ...        ...
 2024-06-12  179.750000  182.080002  ...  179.559998   18600400
 2024-06-13  177.839996  178.509995  ...  176.740005   15956900
 2024-06-14  175.852005  178.729996  ...  178.369995   12361600
 2024-06-17  176.979996  179.919998  ...  178.779999   15272900
 2024-06-18  178.789993  178.910004  ...  176.449997   15625400

 [4992 rows x 6 columns]}